/* local fonts */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumGothic-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NanumGothic-Bold.woff2) format('woff2');
}

body {
    font-family: 'Nanum Gothic';
}
h1,
h2,
h3 {
    font-family: 'Nanum Gothic';
    font-weight: normal;
}
.remark-code,
.remark-inline-code {
    font-family: 'Nanum Gothic';
}

.remark-slide-content { font-size: 16px; padding: 1em 2em 2em 2em; }
.remark-slide-content h1 { font-size: 2.2em; }
.remark-slide-content h2 { font-size: 1.4em; }
.remark-slide-content h3 { font-size: 0.9em; }
.blackwave { background: #000; color: #FFF; }
.red { color: #fa0000; }

.footnote {
  position: absolute;
  bottom: 0.5em;
  right: 25em;
  font-size: 0.7em;
}

/* per slide css */

#slide-blackwave { background: #000; color: #FFF; }

#slide-tylor-mv .left-column { width: 50%; float: left; }